In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

Matplotlib is building the font cache; this may take a moment.

In [2]:
data = pd.read_csv('airline-passenger-traffic.csv')
data.head()

   1949-01    112
0  1949-02  118.0
1  1949-03  132.0
2  1949-04  129.0
3  1949-05  121.0
4  1949-06  135.0

In [3]:
data.shape

(143, 2)