In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from matplotlib import style
style.use('dark_background')

In [2]:
df = pd.read_csv('bitcoinfinal.csv', header=None)
df.columns = ['Month','Price']
df

     0   217.4
0    1   255.7
1    2   244.3
2    3   236.1
3    4   228.7
4    5   262.9
5    6   284.5
6    7   231.4
7    8   236.5
8    9   316.0
9   10   376.9
10  11   429.0
11  12   365.5
12  13   439.2
13  14   416.0
14  15   446.6
15  16   530.7
16  17   674.7
17  18   623.7
18  19   576.2
19  20   611.1
20  21   704.1
21  22   739.0
22  23   966.6
23  24   966.2
24  25  1189.1
25  26  1081.7
26  27  1435.2
27  28  2191.8
28  29  2420.7
29  30  2856.0
30  31  4268.8