Steps: <br>
Importing Data <br>
Merging different df's on a unique field <br>
Searching for Null values <br>
Finding outliers and Imputation <br>
Studying the dataframe <br>
Converting binary variables <br>
Creating dummy variables <br>
Running machine learning algorithms

In [1]:
import pandas as pd 
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
pd.set_option('display.max_columns',500)
pd.set_option('display.width',500)
pd.set_option('display.max_rows', 500)

In [4]:
churn_data = pd.read_csv("churn_data.csv")
churn_data.head()

   customerID  tenure PhoneService        Contract PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges Churn
0  7590-VHVEG       1           No  Month-to-month              Yes           Electronic check           29.85        29.85    No
1  5575-GNVDE      34          Yes        One year               No               Mailed check           56.95       1889.5    No
2  3668-QPYBK       2          Yes  Month-to-month              Yes               Mailed check           53.85       108.15   Yes
3  7795-CFOCW      45           No        One year               No  Bank transfer (automatic)           42.30      1840.75    No
4  9237-HQITU       2          Yes  Month-to-month              Yes           Electronic check           70.70       151.65   Yes

In [5]:
customer_data = pd.read_csv("customer_data.csv")
customer_data.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [6]:
internet_data = pd.read_csv("internet_data.csv")
internet_data.head()

   customerID     MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies
0  7590-VHVEG  No phone service             DSL             No          Yes               No          No          No              No
1  5575-GNVDE                No             DSL            Yes           No              Yes          No          No              No
2  3668-QPYBK                No             DSL            Yes          Yes               No          No          No              No
3  7795-CFOCW  No phone service             DSL            Yes           No              Yes         Yes          No              No
4  9237-HQITU                No     Fiber optic             No           No               No          No          No              No

In [7]:
df_1 = pd.merge(churn_data, customer_data, how='inner', on='customerID')

In [8]:
telecom = pd.merge(df_1, internet_data, how='inner', on='customerID')
telecom.head()

   customerID  tenure PhoneService        Contract PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges Churn  gender  SeniorCitizen Partner Dependents     MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies
0  7590-VHVEG       1           No  Month-to-month              Yes           Electronic check           29.85        29.85    No  Female              0     Yes         No  No phone service             DSL             No          Yes               No          No          No              No
1  5575-GNVDE      34          Yes        One year               No               Mailed check           56.95       1889.5    No    Male              0      No         No                No             DSL            Yes           No              Yes          No          No              No
2  3668-QPYBK       2          Yes  Month-to-month              Yes               Mailed check           53.85       108.15   Yes    Male              0      No         No                No             DSL            Yes          Yes               No          No          No              No
3  7795-CFOCW      45           No        One year               No  Bank transfer (automatic)           42.30      1840.75    No    Male              0      No         No  No phone service             DSL            Yes           No              Yes         Yes          No              No
4  9237-HQITU       2          Yes  Month-to-month              Yes           Electronic check           70.70       151.65   Yes  Female              0      No         No                No     Fiber optic             No           No               No          No          No              No

In [9]:
telecom.shape

(7043, 21)

In [10]:
def details(df):     
    # Sum of null values
    mis_val = df.isnull().sum()
        
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    
    # Data type 
    data_type = df.dtypes
    
    #unique values
    unique_val = df.nunique()
        
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent, data_type, unique_val], axis=1)   
        
    # Rename the columns for clarity
    mis_val_table_columns = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Missing Values', 2 : 'Data_Type', 3: 'Unique values'})
    return mis_val_table_columns

In [11]:
details(telecom)

                  Missing Values  % of Total Missing Values Data_Type  Unique values
customerID                     0                        0.0    object           7043
tenure                         0                        0.0     int64             73
PhoneService                   0                        0.0    object              2
Contract                       0                        0.0    object              3
PaperlessBilling               0                        0.0    object              2
PaymentMethod                  0                        0.0    object              4
MonthlyCharges                 0                        0.0   float64           1585
TotalCharges                   0                        0.0    object           6531
Churn                          0                        0.0    object              2
gender                         0                        0.0    object              2
SeniorCitizen                  0                        0.0     int64              2
Partner                        0                        0.0    object              2
Dependents                     0                        0.0    object              2
MultipleLines                  0                        0.0    object              3
InternetService                0                        0.0    object              3
OnlineSecurity                 0                        0.0    object              3
OnlineBackup                   0                        0.0    object              3
DeviceProtection               0                        0.0    object              3
TechSupport                    0                        0.0    object              3
StreamingTV                    0                        0.0    object              3
StreamingMovies                0                        0.0    object              3

In [12]:
telecom.PhoneService.value_counts(dropna=False)

Yes    6361
No      682
Name: PhoneService, dtype: int64

In [13]:
telecom.Contract.value_counts(dropna=False)

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

In [14]:
telecom.PaperlessBilling.value_counts(dropna=False)

Yes    4171
No     2872
Name: PaperlessBilling, dtype: int64

In [15]:
telecom.PaymentMethod.value_counts(dropna=False)

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

In [16]:
telecom.Churn.value_counts(dropna=False)

No     5174
Yes    1869
Name: Churn, dtype: int64

In [17]:
telecom.gender.value_counts(dropna=False)

Male      3555
Female    3488
Name: gender, dtype: int64

In [18]:
telecom.Partner.value_counts(dropna=False)

No     3641
Yes    3402
Name: Partner, dtype: int64

In [19]:
telecom.Dependents.value_counts(dropna=False)

No     4933
Yes    2110
Name: Dependents, dtype: int64

In [20]:
telecom.MultipleLines.value_counts(dropna=False)

No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

In [21]:
telecom.InternetService.value_counts(dropna=False)

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

In [22]:
telecom.OnlineSecurity.value_counts(dropna=False)

No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

In [23]:
telecom.OnlineBackup.value_counts(dropna=False)

No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

In [24]:
telecom.DeviceProtection.value_counts(dropna=False)

No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

In [25]:
telecom.TechSupport.value_counts(dropna=False)

No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

In [26]:
telecom.StreamingTV.value_counts(dropna=False)

No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

In [27]:
telecom.StreamingMovies.value_counts(dropna=False)

No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

In [28]:
telecom.SeniorCitizen.value_counts(dropna=False)

0    5901
1    1142
Name: SeniorCitizen, dtype: int64

In [29]:
#telecom.TotalCharges = telecom.TotalCharges.astype(float)
telecom.TotalCharges = pd.to_numeric(telecom.TotalCharges, errors='coerce')

In [30]:
details(telecom)

                  Missing Values  % of Total Missing Values Data_Type  Unique values
customerID                     0                   0.000000    object           7043
tenure                         0                   0.000000     int64             73
PhoneService                   0                   0.000000    object              2
Contract                       0                   0.000000    object              3
PaperlessBilling               0                   0.000000    object              2
PaymentMethod                  0                   0.000000    object              4
MonthlyCharges                 0                   0.000000   float64           1585
TotalCharges                  11                   0.156183   float64           6530
Churn                          0                   0.000000    object              2
gender                         0                   0.000000    object              2
SeniorCitizen                  0                   0.000000     int64              2
Partner                        0                   0.000000    object              2
Dependents                     0                   0.000000    object              2
MultipleLines                  0                   0.000000    object              3
InternetService                0                   0.000000    object              3
OnlineSecurity                 0                   0.000000    object              3
OnlineBackup                   0                   0.000000    object              3
DeviceProtection               0                   0.000000    object              3
TechSupport                    0                   0.000000    object              3
StreamingTV                    0                   0.000000    object              3
StreamingMovies                0                   0.000000    object              3

In [31]:
telecom.TotalCharges.fillna(telecom.TotalCharges.median(), inplace=True)
#telecom = telecom[~np.isnan(telecom['TotalCharges'])]

In [32]:
telecom[['tenure','MonthlyCharges','TotalCharges']].describe(percentiles=[0.01, 0.05, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99])

            tenure  MonthlyCharges  TotalCharges
count  7043.000000     7043.000000   7043.000000
mean     32.371149       64.761692   2281.916928
std      24.559481       30.090047   2265.270398
min       0.000000       18.250000     18.800000
1%        1.000000       19.200000     19.900000
5%        1.000000       19.650000     49.650000
25%       9.000000       35.500000    402.225000
50%      29.000000       70.350000   1397.475000
75%      55.000000       89.850000   3786.600000
90%      69.000000      102.600000   5973.690000
95%      72.000000      107.400000   6921.025000
99%      72.000000      114.729000   8039.256000
max      72.000000      118.750000   8684.800000

In [33]:
details(telecom)

                  Missing Values  % of Total Missing Values Data_Type  Unique values
customerID                     0                        0.0    object           7043
tenure                         0                        0.0     int64             73
PhoneService                   0                        0.0    object              2
Contract                       0                        0.0    object              3
PaperlessBilling               0                        0.0    object              2
PaymentMethod                  0                        0.0    object              4
MonthlyCharges                 0                        0.0   float64           1585
TotalCharges                   0                        0.0   float64           6531
Churn                          0                        0.0    object              2
gender                         0                        0.0    object              2
SeniorCitizen                  0                        0.0     int64              2
Partner                        0                        0.0    object              2
Dependents                     0                        0.0    object              2
MultipleLines                  0                        0.0    object              3
InternetService                0                        0.0    object              3
OnlineSecurity                 0                        0.0    object              3
OnlineBackup                   0                        0.0    object              3
DeviceProtection               0                        0.0    object              3
TechSupport                    0                        0.0    object              3
StreamingTV                    0                        0.0    object              3
StreamingMovies                0                        0.0    object              3

### Converting to Binary

In [34]:
def binary_mapping(x):
    return x.map({'Yes':1, 'No':0})
telecom[['PhoneService','PaperlessBilling','Churn','Partner','Dependents']] = telecom[['PhoneService','PaperlessBilling','Churn','Partner','Dependents']].apply(binary_mapping)
telecom.head()

   customerID  tenure  PhoneService        Contract  PaperlessBilling              PaymentMethod  MonthlyCharges  TotalCharges  Churn  gender  SeniorCitizen  Partner  Dependents     MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies
0  7590-VHVEG       1             0  Month-to-month                 1           Electronic check           29.85         29.85      0  Female              0        1           0  No phone service             DSL             No          Yes               No          No          No              No
1  5575-GNVDE      34             1        One year                 0               Mailed check           56.95       1889.50      0    Male              0        0           0                No             DSL            Yes           No              Yes          No          No              No
2  3668-QPYBK       2             1  Month-to-month                 1               Mailed check           53.85        108.15      1    Male              0        0           0                No             DSL            Yes          Yes               No          No          No              No
3  7795-CFOCW      45             0        One year                 0  Bank transfer (automatic)           42.30       1840.75      0    Male              0        0           0  No phone service             DSL            Yes           No              Yes         Yes          No              No
4  9237-HQITU       2             1  Month-to-month                 1           Electronic check           70.70        151.65      1  Female              0        0           0                No     Fiber optic             No           No               No          No          No              No

### Creating dummy variables (one hot encoding)

In [36]:
dummy = pd.get_dummies(telecom[['Contract','PaymentMethod','gender']], drop_first=True)
telecom = pd.concat([telecom, dummy], axis=1)
telecom.head()

   customerID  tenure  PhoneService        Contract  PaperlessBilling              PaymentMethod  MonthlyCharges  TotalCharges  Churn  gender  SeniorCitizen  Partner  Dependents     MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies  Contract_One year  Contract_Two year  PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  PaymentMethod_Mailed check  gender_Male
0  7590-VHVEG       1             0  Month-to-month                 1           Electronic check           29.85         29.85      0  Female              0        1           0  No phone service             DSL             No          Yes               No          No          No              No                  0                  0                                      0                               1                           0            0
1  5575-GNVDE      34             1        One year                 0               Mailed check           56.95       1889.50      0    Male              0        0           0                No             DSL            Yes           No              Yes          No          No              No                  1                  0                                      0                               0                           1            1
2  3668-QPYBK       2             1  Month-to-month                 1               Mailed check           53.85        108.15      1    Male              0        0           0                No             DSL            Yes          Yes               No          No          No              No                  0                  0                                      0                               0                           1            1
3  7795-CFOCW      45             0        One year                 0  Bank transfer (automatic)           42.30       1840.75      0    Male              0        0           0  No phone service             DSL            Yes           No              Yes         Yes          No              No                  1                  0                                      0                               0                           0            1
4  9237-HQITU       2             1  Month-to-month                 1           Electronic check           70.70        151.65      1  Female              0        0           0                No     Fiber optic             No           No               No          No          No              No                  0                  0                                      0                               1                           0            0

### Creating dummy variables by removing unwanted segments

In [38]:
is1 = pd.get_dummies(telecom['InternetService'], prefix='InternetService')
# Dropping MultipleLines_No phone service column
is2 = is1.drop(['InternetService_No'], 1)
#Adding the results to the master dataframe
telecom = pd.concat([telecom,is2], axis=1)

ml1 = pd.get_dummies(telecom['MultipleLines'], prefix='MultipleLines')
# Dropping MultipleLines_No phone service column
ml2 = ml1.drop(['MultipleLines_No phone service'], 1)
#Adding the results to the master dataframe
telecom = pd.concat([telecom,ml2], axis=1)

os1 = pd.get_dummies(telecom['OnlineSecurity'], prefix='OnlineSecurity')
# Dropping MultipleLines_No phone service column
os2 = os1.drop(['OnlineSecurity_No internet service'], 1)
#Adding the results to the master dataframe
telecom = pd.concat([telecom,os2], axis=1)

dp1 = pd.get_dummies(telecom['DeviceProtection'], prefix='DeviceProtection')
# Dropping MultipleLines_No phone service column
dp2 = dp1.drop(['DeviceProtection_No internet service'], 1)
#Adding the results to the master dataframe
telecom = pd.concat([telecom,dp2], axis=1)

ts1 = pd.get_dummies(telecom['TechSupport'], prefix='TechSupport')
ts2 = ts1.drop(['TechSupport_No internet service'], 1)
# Adding the results to the master dataframe
telecom = pd.concat([telecom,ts2], axis=1)

st1 =pd.get_dummies(telecom['StreamingTV'], prefix='StreamingTV')
st2 = st1.drop(['StreamingTV_No internet service'], 1)
# Adding the results to the master dataframe
telecom = pd.concat([telecom,st2], axis=1)

sm1 = pd.get_dummies(telecom['StreamingMovies'], prefix='StreamingMovies')
sm2 = sm1.drop(['StreamingMovies_No internet service'], 1)
# Adding the results to the master dataframe
telecom = pd.concat([telecom,sm2], axis=1)

### Dropping repeated columns

In [41]:
telecom = telecom.drop(['Contract','PaymentMethod','gender','MultipleLines','InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies'], 1)
telecom.head()

,customerID,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,SeniorCitizen,Partner,Dependents,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,gender_Male,InternetService_DSL,InternetService_Fiber optic,MultipleLines_No,MultipleLines_Yes,InternetService_DSL,InternetService_Fiber optic,MultipleLines_No,MultipleLines_Yes,OnlineSecurity_No,OnlineSecurity_Yes,DeviceProtection_No,DeviceProtection_Yes,TechSupport_No,TechSupport_Yes,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes
0,7590-VHVEG,1,0,1,29.85,29.85,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,1,0,1,0
1,5575-GNVDE,34,1,0,56.95,1889.50,0,0,0,0,1,0,0,0,1,1,1,0,1,0,1,0,1,0,0,1,0,1,1,0,1,0,1,0
2,3668-QPYBK,2,1,1,53.85,108.15,1,0,0,0,0,0,0,0,1,1,1,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,1,0
3,7795-CFOCW,45,0,0,42.30,1840.75,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0,0,1,0,1,0,1,1,0,1,0
4,9237-HQITU,2,1,1,70.70,151.65,1,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0

In [42]:
telecom.shape

(7043, 34)

In [43]:
details(telecom)

                                       Missing Values  % of Total Missing Values Data_Type  Unique values
customerID                                          0                        0.0    object           7043
tenure                                              0                        0.0     int64             73
PhoneService                                        0                        0.0     int64              2
PaperlessBilling                                    0                        0.0     int64              2
MonthlyCharges                                      0                        0.0   float64           1585
TotalCharges                                        0                        0.0   float64           6531
Churn                                               0                        0.0     int64              2
SeniorCitizen                                       0                        0.0     int64              2
Partner                                             0                        0.0     int64              2
Dependents                                          0                        0.0     int64              2
Contract_One year                                   0                        0.0     uint8              2
Contract_Two year                                   0                        0.0     uint8              2
PaymentMethod_Credit card (automatic)               0                        0.0     uint8              2
PaymentMethod_Electronic check                      0                        0.0     uint8              2
PaymentMethod_Mailed check                          0                        0.0     uint8              2
gender_Male                                         0                        0.0     uint8              2
InternetService_DSL                                 0                        0.0     uint8              2
InternetService_Fiber optic                         0                        0.0     uint8              2
MultipleLines_No                                    0                        0.0     uint8              2
MultipleLines_Yes                                   0                        0.0     uint8              2
InternetService_DSL                                 0                        0.0     uint8              2
InternetService_Fiber optic                         0                        0.0     uint8              2
MultipleLines_No                                    0                        0.0     uint8              2
MultipleLines_Yes                                   0                        0.0     uint8              2
OnlineSecurity_No                                   0                        0.0     uint8              2
OnlineSecurity_Yes                                  0                        0.0     uint8              2
DeviceProtection_No                                 0                        0.0     uint8              2
DeviceProtection_Yes                                0                        0.0     uint8              2
TechSupport_No                                      0                        0.0     uint8              2
TechSupport_Yes                                     0                        0.0     uint8              2
StreamingTV_No                                      0                        0.0     uint8              2
StreamingTV_Yes                                     0                        0.0     uint8              2
StreamingMovies_No                                  0                        0.0     uint8              2
StreamingMovies_Yes                                 0                        0.0     uint8              2

## Machine Learning Algorithmns

### Train-test-split