Steps: <br>
Importing Data <br>
Merging different df's on a unique field <br>
Searching for Null values <br>
Finding outliers and Imputation <br>
Studying the dataframe <br>
Converting binary variables <br>
Creating dummy variables

In [5]:
import pandas as pd 
import numpy as np

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
pd.set_option('display.max_columns',500)
pd.set_option('display.width',500)
pd.set_option('display.max_rows', 500)

In [8]:
churn_data = pd.read_csv("churn_data.csv")
churn_data.head()

   customerID  tenure PhoneService        Contract PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges Churn
0  7590-VHVEG       1           No  Month-to-month              Yes           Electronic check           29.85        29.85    No
1  5575-GNVDE      34          Yes        One year               No               Mailed check           56.95       1889.5    No
2  3668-QPYBK       2          Yes  Month-to-month              Yes               Mailed check           53.85       108.15   Yes
3  7795-CFOCW      45           No        One year               No  Bank transfer (automatic)           42.30      1840.75    No
4  9237-HQITU       2          Yes  Month-to-month              Yes           Electronic check           70.70       151.65   Yes

In [9]:
customer_data = pd.read_csv("customer_data.csv")
customer_data.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [10]:
internet_data = pd.read_csv("internet_data.csv")
internet_data.head()

   customerID     MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies
0  7590-VHVEG  No phone service             DSL             No          Yes               No          No          No              No
1  5575-GNVDE                No             DSL            Yes           No              Yes          No          No              No
2  3668-QPYBK                No             DSL            Yes          Yes               No          No          No              No
3  7795-CFOCW  No phone service             DSL            Yes           No              Yes         Yes          No              No
4  9237-HQITU                No     Fiber optic             No           No               No          No          No              No

In [11]:
df_1 = pd.merge(churn_data, customer_data, how='inner', on='customerID')

In [12]:
telecom = pd.merge(df_1, internet_data, how='inner', on='customerID')
telecom.head()

   customerID  tenure PhoneService        Contract PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges Churn  gender  SeniorCitizen Partner Dependents     MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies
0  7590-VHVEG       1           No  Month-to-month              Yes           Electronic check           29.85        29.85    No  Female              0     Yes         No  No phone service             DSL             No          Yes               No          No          No              No
1  5575-GNVDE      34          Yes        One year               No               Mailed check           56.95       1889.5    No    Male              0      No         No                No             DSL            Yes           No              Yes          No          No              No
2  3668-QPYBK       2          Yes  Month-to-month              Yes               Mailed check           53.85       108.15   Yes    Male              0      No         No                No             DSL            Yes          Yes               No          No          No              No
3  7795-CFOCW      45           No        One year               No  Bank transfer (automatic)           42.30      1840.75    No    Male              0      No         No  No phone service             DSL            Yes           No              Yes         Yes          No              No
4  9237-HQITU       2          Yes  Month-to-month              Yes           Electronic check           70.70       151.65   Yes  Female              0      No         No                No     Fiber optic             No           No               No          No          No              No

In [13]:
telecom.shape

(7043, 21)

In [14]:
def details(df):     
    # Sum of null values
    mis_val = df.isnull().sum()
        
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    
    # Data type 
    data_type = df.dtypes
    
    #unique values
    unique_val = df.nunique()
        
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent, data_type, unique_val], axis=1)   
        
    # Rename the columns for clarity
    mis_val_table_columns = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Missing Values', 2 : 'Data_Type', 3: 'Unique values'})
    return mis_val_table_columns

In [15]:
details(telecom)

                  Missing Values  % of Total Missing Values Data_Type  Unique values
customerID                     0                        0.0    object           7043
tenure                         0                        0.0     int64             73
PhoneService                   0                        0.0    object              2
Contract                       0                        0.0    object              3
PaperlessBilling               0                        0.0    object              2
PaymentMethod                  0                        0.0    object              4
MonthlyCharges                 0                        0.0   float64           1585
TotalCharges                   0                        0.0    object           6531
Churn                          0                        0.0    object              2
gender                         0                        0.0    object              2
SeniorCitizen                  0                        0.0     int64              2
Partner                        0                        0.0    object              2
Dependents                     0                        0.0    object              2
MultipleLines                  0                        0.0    object              3
InternetService                0                        0.0    object              3
OnlineSecurity                 0                        0.0    object              3
OnlineBackup                   0                        0.0    object              3
DeviceProtection               0                        0.0    object              3
TechSupport                    0                        0.0    object              3
StreamingTV                    0                        0.0    object              3
StreamingMovies                0                        0.0    object              3

In [17]:
telecom.PhoneService.value_counts(dropna=False)

Yes    6361
No      682
Name: PhoneService, dtype: int64

In [18]:
telecom.Contract.value_counts(dropna=False)

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

In [19]:
telecom.PaperlessBilling.value_counts(dropna=False)

Yes    4171
No     2872
Name: PaperlessBilling, dtype: int64

In [20]:
telecom.PaymentMethod.value_counts(dropna=False)

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

In [21]:
telecom.Churn.value_counts(dropna=False)

No     5174
Yes    1869
Name: Churn, dtype: int64

In [22]:
telecom.gender.value_counts(dropna=False)

Male      3555
Female    3488
Name: gender, dtype: int64

In [23]:
telecom.Partner.value_counts(dropna=False)

No     3641
Yes    3402
Name: Partner, dtype: int64

In [24]:
telecom.Dependents.value_counts(dropna=False)

No     4933
Yes    2110
Name: Dependents, dtype: int64

In [25]:
telecom.MultipleLines.value_counts(dropna=False)

No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

In [26]:
telecom.InternetService.value_counts(dropna=False)

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

In [27]:
telecom.OnlineSecurity.value_counts(dropna=False)

No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

In [28]:
telecom.OnlineBackup.value_counts(dropna=False)

No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

In [29]:
telecom.DeviceProtection.value_counts(dropna=False)

No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

In [30]:
telecom.TechSupport.value_counts(dropna=False)

No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

In [31]:
telecom.StreamingTV.value_counts(dropna=False)

No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

In [32]:
telecom.StreamingMovies.value_counts(dropna=False)

No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64