In [14]:
import numpy as np
import pandas as pd

In [15]:
df25_bat = pd.read_excel(r'C:/Users/getch/Documents/GitHub/MLDL_projects/IPL_stats/ipl_stats_2025-bat.xlsx')
df25_bat

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S
0,1,Nicholas Pooran\nLSG,145,2,2,0,75,72.50,56,258.92,0,2,12,13
1,2,Sai Sudharsan\nGT,137,2,2,0,74,68.50,82,167.07,0,2,9,8
2,3,Travis Head\nSRH,136,3,3,0,67,45.33,71,191.54,0,1,18,6
3,4,Mitchell Marsh\nLSG,124,2,2,0,72,62.00,67,185.07,0,2,13,8
4,5,Aniket Verma\nSRH,117,3,3,0,74,39.00,57,205.26,0,1,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,97,Kumar Kartikeya Singh\nRR,1,1,1,0,1,1.00,1,100.00,0,0,0,0
97,98,Sai Kishore\nGT,1,2,1,0,1,1.00,1,100.00,0,0,0,0
98,99,Mohd Arshad Khan\nGT,1,1,1,1,1*,-,1,100.00,0,0,0,0
99,100,Mohit Sharma\nDC,1,2,1,1,1*,-,2,50.00,0,0,0,0
100,101,Trent Boult\nMI,1,2,1,0,1,1.00,2,50.00,0,0,0,0

In [16]:
df25_bowl = pd.read_excel(r'C:/Users/getch/Documents/GitHub/MLDL_projects/IPL_stats/ipl_stats_2025-bowl.xlsx')
df25_bowl

,POS,PLAYER,WKTS,MAT,INNS,OV,RUNS,BBI,AVG,ECON,SR,4W,5W
0,1,Noor Ahmad\nCSK,9,3,3,12.0,82,18/4,9.11,6.83,8.00,1,0
1,2,Mitchell Starc\nDC,8,2,2,7.4,77,35/5,9.62,10.04,5.75,0,1
2,3,Khaleel Ahmed\nCSK,6,3,3,12.0,95,29/3,15.83,7.91,12.00,0,0
3,4,Shardul Thakur\nLSG,6,2,2,6.0,53,34/4,8.83,8.83,6.00,1,0
4,5,Kuldeep Yadav\nDC,5,2,2,8.0,42,22/3,8.40,5.25,9.60,0,0
5,6,Josh Hazlewood\nRCB,5,2,2,8.0,43,21/3,8.60,5.37,9.60,0,0
6,7,Wanindu Hasaranga\nRR,5,2,2,7.0,69,35/4,13.80,9.85,8.40,1,0
7,8,Matheesha Pathirana\nCSK,4,2,2,8.0,64,28/2,16.00,8.00,12.00,0,0
8,9,Sai Kishore\nGT,4,2,2,8.0,67,30/3,16.75,8.37,12.00,0,0
9,10,Yash Dayal\nRCB,3,2,2,6.0,43,18/2,14.33,7.16,12.00,0,0
10,11,Varun Chakaravarthy\nKKR,3,2,2,8.0,60,17/2,20.00,7.50,16.00,0,0
11,12,Vignesh Puthur\nMI,3,1,1,4.0,32,32/3,10.66,8.00,8.00,0,0
12,13,Harshal Patel\nSRH,3,3,3,9.0,79,34/2,26.33,8.77,18.00,0,0
13,14,Digvesh Singh\nLSG,3,2,2,8.0,71,31/2,23.66,8.87,16.00,0,0
14,15,Krunal Pandya\nRCB,3,2,2,6.0,55,29/3,18.33,9.16,12.00,0,0
15,16,Ravichandran Ashwin\nCSK,3,3,3,10.0,99,22/1,33.00,9.90,20.00,0,0
16,17,Zeeshan Ansari\nSRH,3,1,1,4.0,42,42/3,14.00,10.50,8.00,0,0
17,18,Tushar Deshpande\nRR,3,3,3,9.0,96,44/3,32.00,10.66,18.00,0,0
18,19,Vaibhav Arora\nKKR,3,2,2,7.0,75,33/2,25.00,10.71,14.00,0,0
19,20,Ravi Bishnoi\nLSG,3,2,2,8.0,95,53/2,31.66,11.87,16.00,0,0
20,21,Moeen Ali\nKKR,2,1,1,4.0,23,23/2,11.50,5.75,12.00,0,0
21,22,Liam Livingstone\nRCB,2,2,2,6.0,42,28/2,21.00,7.00,18.00,0,0
22,23,Hardik Pandya\nMI,2,1,1,4.0,29,29/2,14.50,7.25,12.00,0,0
23,24,Prasidh Krishna\nGT,2,2,2,7.0,59,18/2,29.50,8.42,21.00,0,0
24,25,Arshdeep Singh\nPBKS,2,1,1,4.0,36,36/2,18.00,9.00,12.00,0,0
25,26,Maheesh Theekshana\nRR,2,3,3,12.0,114,52/2,57.00,9.50,36.00,0,0
26,27,Deepak Chahar\nMI,2,2,2,6.0,57,18/1,28.50,9.50,18.00,0,0
27,28,Harshit Rana\nKKR,2,2,2,7.0,68,36/2,34.00,9.71,21.00,0,0
28,29,M Siddharth\nLSG,2,1,1,4.0,39,39/2,19.50,9.75,12.00,0,0
29,30,Kagiso Rabada\nGT,2,2,2,8.0,83,41/1,41.50,10.37,24.00,0,0
30,31,Sandeep Sharma\nRR,2,3,3,10.0,104,42/1,52.00,10.40,30.00,0,0
31,32,Mohammed Siraj\nGT,2,2,2,8.0,88,34/2,44.00,11.00,24.00,0,0
32,33,Mohammad Shami\nSRH,2,3,3,9.0,101,33/1,50.50,11.22,27.00,0,0
33,34,Adam Zampa\nSRH,2,2,2,8.0,94,46/1,47.00,11.75,24.00,0,0
34,35,Pat Cummins\nSRH,2,3,3,9.0,116,29/2,58.00,12.88,27.00,0,0
35,36,Simarjeet Singh\nSRH,2,2,2,5.0,74,46/2,37.00,14.80,15.00,0,0
36,37,Bhuvneshwar Kumar\nRCB,1,1,1,3.0,20,20/1,20.00,6.66,18.00,0,0
37,38,Sunil Narine\nKKR,1,1,1,4.0,27,27/1,27.00,6.75,24.00,0,0
38,39,Will Jacks\nMI,1,1,1,4.0,32,32/1,32.00,8.00,24.00,0,0
39,40,Ravindra Jadeja\nCSK,1,3,3,8.0,68,10/1,68.00,8.50,48.00,0,0
40,41,Trent Boult\nMI,1,2,2,7.0,61,34/1,61.00,8.71,42.00,0,0
41,42,Nathan Ellis\nCSK,1,1,1,4.0,38,38/1,38.00,9.50,24.00,0,0
42,43,Prince Yadav\nLSG,1,2,2,8.0,76,29/1,76.00,9.50,48.00,0,0
43,44,Mohit Sharma\nDC,1,2,2,7.0,67,25/1,67.00,9.57,42.00,0,0
44,45,Rashid Khan\nGT,1,2,2,6.0,58,48/1,58.00,9.66,36.00,0,0
45,46,Mukesh Kumar\nDC,1,2,2,4.0,39,22/1,39.00,9.75,24.00,0,0
46,47,Suyash Sharma\nRCB,1,2,2,8.0,79,47/1,79.00,9.87,48.00,0,0
47,48,Marco Jansen\nPBKS,1,1,1,4.0,44,44/1,44.00,11.00,24.00,0,0
48,49,Avesh Khan\nLSG,1,1,1,4.0,45,45/1,45.00,11.25,24.00,0,0
49,50,Spencer Johnson\nKKR,1,2,2,6.2,73,42/1,73.00,11.52,38.00,0,0
50,51,Rasikh Dar\nRCB,1,1,1,3.0,35,35/1,35.00,11.66,18.00,0,0
51,52,Jofra Archer\nRR,1,3,3,9.3,122,13/1,122.00,12.84,57.00,0,0
52,53,Glenn Maxwell\nPBKS,1,1,1,2.0,26,26/1,26.00,13.00,12.00,0,0
53,54,V Satyanarayana Penmetsa\nMI,1,2,2,4.0,53,40/1,53.00,13.25,24.00,0,0
54,55,Mujeeb-ur-Rahman\nMI,1,1,1,2.0,28,28/1,28.00,14.00,12.00,0,0
55,56,Vipraj Nigam\nDC,1,2,2,4.0,56,35/1,56.00,14.00,24.00,0,0

In [17]:
df24_bat = pd.read_excel(r'C:/Users/getch/Documents/GitHub/MLDL_projects/IPL_stats/ipl_stats_2024-bat.xlsx')
df24_bat

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S
0,1,Virat Kohli\nRCB,741,15,15,3,113*,61.75,479,154.69,1,5,62,38
1,2,Ruturaj Gaikwad\nCSK,583,14,14,3,108*,53.00,413,141.16,1,4,58,18
2,3,Riyan Parag\nRR,573,16,14,3,84*,52.09,384,149.21,0,4,40,33
3,4,Travis Head\nSRH,567,15,15,1,102,40.50,296,191.55,1,4,64,32
4,5,Sanju Samson\nRR,531,16,15,4,86,48.27,346,153.46,0,5,48,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,163,Lizaad Williams\nDC,1,2,1,1,1*,-,2,50.00,0,0,0,0
163,164,Keshav Maharaj\nRR,1,2,1,0,1,1.00,2,50.00,0,0,0,0
164,165,Manav Suthar\nGT,1,1,1,0,1,1.00,2,50.00,0,0,0,0
165,166,Vyshak Vijaykumar\nRCB,1,4,2,1,1*,1.00,3,33.33,0,0,0,0
166,167,Ishant Sharma\nDC,1,9,2,2,1*,-,7,14.28,0,0,0,0

In [18]:
df24_bowl = pd.read_excel(r'C:/Users/getch/Documents/GitHub/MLDL_projects/IPL_stats/ipl_stats_2024-bowl.xlsx')
df24_bowl

,POS,PLAYER,WKTS,MAT,INNS,OV,RUNS,BBI,AVG,ECON,SR,4W,5W
0,1,Harshal Patel\nPBKS,24,14,14,49.0,477,15/3,19.87,9.73,12.25,0,0
1,2,Varun Chakaravarthy\nKKR,21,15,14,50.0,402,16/3,19.14,8.04,14.28,0,0
2,3,Jasprit Bumrah\nMI,20,13,13,51.5,336,21/5,16.80,6.48,15.55,0,1
3,4,T Natarajan\nSRH,19,14,14,51.2,465,19/4,24.47,9.05,16.21,1,0
4,5,Harshit Rana\nKKR,19,13,11,42.1,383,24/3,20.15,9.08,13.31,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,101,Shivam Dube\nCSK,1,14,1,1.0,14,14/1,14.00,14.00,6.00,0,0
101,102,Washington Sundar\nSRH,1,2,2,5.0,73,46/1,73.00,14.60,30.00,0,0
102,103,Kwena Maphaka\nMI,1,2,2,6.0,89,23/1,89.00,14.83,36.00,0,0
103,104,Luke Wood\nMI,1,2,2,6.0,93,68/1,93.00,15.50,36.00,0,0
104,105,Akash Deep\nRCB,1,1,1,3.3,55,55/1,55.00,15.71,21.00,0,0

In [19]:
df23_bat = pd.read_excel(r'C:/Users/getch/Documents/GitHub/MLDL_projects/IPL_stats/ipl_stats_2023-bat.xlsx')
df23_bat

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S
0,1,Shubman Gill\nGT,890,17,17,2,129,59.33,564,157.80,3,4,85,33
1,2,Faf Du Plessis\nRCB,730,14,14,1,84,56.15,475,153.68,0,8,60,36
2,3,Devon Conway\nCSK,672,16,15,2,92*,51.69,481,139.70,0,6,77,18
3,4,Virat Kohli\nRCB,639,14,14,2,101*,53.25,457,139.82,2,6,65,16
4,5,Yashasvi Jaiswal\nRR,625,14,14,1,124,48.08,382,163.61,1,5,82,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,162,Mohammed Siraj\nRCB,1,14,2,1,1*,1.00,2,50.00,0,0,0,0
162,163,Yudhvir Singh\nLSG,1,3,2,0,1,0.50,2,50.00,0,0,0,0
163,164,Fazalhaq Farooqi\nSRH,1,4,1,1,1*,-,5,20.00,0,0,0,0
164,165,Nathan Ellis\nPBKS,1,10,2,0,1,0.50,7,14.28,0,0,0,0
165,166,Varun Chakaravarthy\nKKR,1,14,2,1,1,1.00,9,11.11,0,0,0,0

In [20]:
df23_bowl = pd.read_excel(r'C:/Users/getch/Documents/GitHub/MLDL_projects/IPL_stats/ipl_stats_2023-bowl.xlsx')
df23_bowl

,POS,PLAYER,WKTS,MAT,INNS,OV,RUNS,BBI,AVG,ECON,SR,4W,5W
0,1,Mohammad Shami\nGT,28,17,17,65.0,522,11/4,18.64,8.03,13.92,2,0
1,2,Mohit Sharma\nGT,27,14,14,44.1,361,10/5,13.37,8.17,9.81,2,1
2,3,Rashid Khan\nGT,27,17,17,67.0,552,30/4,20.44,8.23,14.88,1,0
3,4,Piyush Chawla\nMI,22,16,16,61.0,495,22/3,22.50,8.11,16.63,0,0
4,5,Yuzvendra Chahal\nRR,21,14,14,52.5,432,17/4,20.57,8.17,15.09,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,109,Akash Deep\nRCB,1,2,2,5.0,59,29/1,59.00,11.80,30.00,0,0
109,110,Lockie Ferguson\nKKR,1,3,3,7.4,96,19/1,96.00,12.52,46.00,0,0
110,111,Duan Jansen\nMI,1,1,1,4.0,53,53/1,53.00,13.25,24.00,0,0
111,112,Shahbaz Ahmed\nRCB,1,10,5,7.0,95,38/1,95.00,13.57,42.00,0,0
112,113,Kartik Tyagi\nSRH,1,3,3,6.1,92,30/1,92.00,14.91,37.00,0,0

In [21]:
df22_bat = pd.read_excel(r'C:/Users/getch/Documents/GitHub/MLDL_projects/IPL_stats/ipl_stats_2022-bat.xlsx')
df22_bat

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S
0,1,Jos Buttler\nRR,863,17,17,2,116,57.53,579,149.05,4,4,83,45
1,2,K L Rahul\nLSG,616,15,15,3,103*,51.33,455,135.38,2,4,45,30
2,3,Quinton De Kock\nLSG,508,15,15,1,140*,36.29,341,148.97,1,3,47,23
3,4,Hardik Pandya\nGT,487,15,15,4,87*,44.27,371,131.26,0,4,49,12
4,5,Shubman Gill\nGT,483,16,16,2,96,34.50,365,132.32,0,4,51,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,158,Fazalhaq Farooqi\nSRH,2,3,1,1,2*,-,8,25.00,0,0,0,0
158,159,Jagadeesha Suchith\nSRH,2,5,2,0,2,1.00,8,25.00,0,0,0,0
159,160,Tim Southee\nKKR,2,9,5,1,1*,0.50,12,16.66,0,0,0,0
160,161,Nathan Coulter-Nile\nRR,1,1,1,1,1*,-,2,50.00,0,0,0,0
161,162,Anrich Nortje\nDC,1,6,1,1,1*,-,6,16.66,0,0,0,0

In [22]:
df22_bowl = pd.read_excel(r'C:/Users/getch/Documents/GitHub/MLDL_projects/IPL_stats/ipl_stats_2022-bowl.xlsx')
df22_bowl

,POS,PLAYER,WKTS,MAT,INNS,OV,RUNS,BBI,AVG,ECON,SR,4W,5W
0,1,Yuzvendra Chahal\nRR,27,17,17,68.0,527,40/5,19.51,7.75,15.11,1,1
1,2,Wanindu Hasaranga\nRCB,26,16,16,57.0,430,18/5,16.53,7.54,13.15,1,1
2,3,Kagiso Rabada\nPBKS,23,13,13,48.0,406,33/4,17.65,8.45,12.52,2,0
3,4,Umran Malik\nSRH,22,14,14,49.1,444,25/5,20.18,9.03,13.40,1,1
4,5,Kuldeep Yadav\nDC,21,14,14,49.4,419,14/4,19.95,8.43,14.19,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99,Shreyas Gopal\nSRH,1,1,1,3.0,34,34/1,34.00,11.33,18.00,0,0
99,100,Fabian Allen\nMI,1,1,1,4.0,46,46/1,46.00,11.50,24.00,0,0
100,101,Sean Abbott\nSRH,1,1,1,4.0,47,47/1,47.00,11.75,24.00,0,0
101,102,Riyan Parag\nRR,1,17,4,4.0,59,12/1,59.00,14.75,24.00,0,0
102,103,Dewald Brevis\nMI,1,7,1,0.3,8,8/1,8.00,16.00,3.00,0,0

In [23]:
df21_bat = pd.read_excel(r'C:/Users/getch/Documents/GitHub/MLDL_projects/IPL_stats/ipl_stats_2021-bat.xlsx')
df21_bat

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S
0,1,Ruturaj Gaikwad\nCSK,635,16,16,2,101*,45.35,466,136.26,1,4,64,23
1,2,Faf du Plessis\nCSK,633,16,16,2,95*,45.21,458,138.20,0,6,60,23
2,3,KL Rahul\nPBKS,626,13,13,3,98*,62.60,451,138.80,0,6,48,30
3,4,Shikhar Dhawan\nDC,587,16,16,1,92,39.13,471,124.62,0,3,63,16
4,5,Glenn Maxwell\nRCB,513,15,14,2,78,42.75,356,144.10,0,6,48,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,145,Anuj Rawat\nRR,0,2,1,0,0*,0.00,1,0.00,0,0,0,0
145,146,Marco Jansen\nMI,0,2,2,0,0*,0.00,3,0.00,0,0,0,0
146,147,Sarfaraz Khan\nPBKS,0,2,2,0,0*,0.00,4,0.00,0,0,0,0
147,148,Jimmy Neesham\nMI,0,3,2,0,0*,0.00,2,0.00,0,0,0,0
148,149,Prasidh Krishna\nKKR,0,10,2,1,0*,0.00,1,0.00,0,0,0,0

In [24]:
df21_bowl = pd.read_excel(r'C:/Users/getch/Documents/GitHub/MLDL_projects/IPL_stats/ipl_stats_2021-bowl.xlsx')
df21_bowl

,POS,PLAYER,WKTS,MAT,INNS,OV,RUNS,BBI,AVG,ECON,SR,4W,5W
0,1,Harshal Patel\nRCB,32,15,15,56,459,5/27,14.34,8.14,10.56,1,1
1,2,Avesh Khan\nDC,24,16,16,61,450,3/13,18.75,7.37,15.25,0,0
2,3,Jasprit Bumrah\nMI,21,14,14,55,410,4/14,19.52,7.45,15.71,0,0
3,4,Shardul Thakur\nCSK,21,16,16,60,527,3/19,25.09,8.80,17.09,0,0
4,5,Mohammad Shami\nPBKS,19,14,14,52,395,3/15,20.78,7.50,16.63,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,Lukman Meriwala\nDC,1,1,1,3,32,1/32,32.00,10.66,18.00,0,0
85,86,Mahipal Lomror\nRR,1,4,4,7,47,1/22,47.00,6.71,42.00,0,0
86,87,Riyan Parag\nRR,1,11,6,6,73,1/10,73.00,11.83,37.00,0,0
87,88,Murugan Ashwin\nPBKS,1,3,3,11,97,3/21,97.00,8.81,66.00,0,0
88,89,Nathan Ellis\nPBKS,1,3,3,12,98,1/20,98.00,8.16,72.00,0,0

In [25]:
#create a loop and split at the end
def Split(df):
    df[['PLAYER','TEAM']] = df.PLAYER.str.split("\n",expand=True)
    return df

In [27]:
Split(df25_bat)

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S,TEAM
0,1,Nicholas Pooran,145,2,2,0,75,72.50,56,258.92,0,2,12,13,LSG
1,2,Sai Sudharsan,137,2,2,0,74,68.50,82,167.07,0,2,9,8,GT
2,3,Travis Head,136,3,3,0,67,45.33,71,191.54,0,1,18,6,SRH
3,4,Mitchell Marsh,124,2,2,0,72,62.00,67,185.07,0,2,13,8,LSG
4,5,Aniket Verma,117,3,3,0,74,39.00,57,205.26,0,1,5,12,SRH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,97,Kumar Kartikeya Singh,1,1,1,0,1,1.00,1,100.00,0,0,0,0,RR
97,98,Sai Kishore,1,2,1,0,1,1.00,1,100.00,0,0,0,0,GT
98,99,Mohd Arshad Khan,1,1,1,1,1*,-,1,100.00,0,0,0,0,GT
99,100,Mohit Sharma,1,2,1,1,1*,-,2,50.00,0,0,0,0,DC
100,101,Trent Boult,1,2,1,0,1,1.00,2,50.00,0,0,0,0,MI

In [28]:
Split(df25_bowl)

,POS,PLAYER,WKTS,MAT,INNS,OV,RUNS,BBI,AVG,ECON,SR,4W,5W,TEAM
0,1,Noor Ahmad,9,3,3,12.0,82,18/4,9.11,6.83,8.00,1,0,CSK
1,2,Mitchell Starc,8,2,2,7.4,77,35/5,9.62,10.04,5.75,0,1,DC
2,3,Khaleel Ahmed,6,3,3,12.0,95,29/3,15.83,7.91,12.00,0,0,CSK
3,4,Shardul Thakur,6,2,2,6.0,53,34/4,8.83,8.83,6.00,1,0,LSG
4,5,Kuldeep Yadav,5,2,2,8.0,42,22/3,8.40,5.25,9.60,0,0,DC
5,6,Josh Hazlewood,5,2,2,8.0,43,21/3,8.60,5.37,9.60,0,0,RCB
6,7,Wanindu Hasaranga,5,2,2,7.0,69,35/4,13.80,9.85,8.40,1,0,RR
7,8,Matheesha Pathirana,4,2,2,8.0,64,28/2,16.00,8.00,12.00,0,0,CSK
8,9,Sai Kishore,4,2,2,8.0,67,30/3,16.75,8.37,12.00,0,0,GT
9,10,Yash Dayal,3,2,2,6.0,43,18/2,14.33,7.16,12.00,0,0,RCB
10,11,Varun Chakaravarthy,3,2,2,8.0,60,17/2,20.00,7.50,16.00,0,0,KKR
11,12,Vignesh Puthur,3,1,1,4.0,32,32/3,10.66,8.00,8.00,0,0,MI
12,13,Harshal Patel,3,3,3,9.0,79,34/2,26.33,8.77,18.00,0,0,SRH
13,14,Digvesh Singh,3,2,2,8.0,71,31/2,23.66,8.87,16.00,0,0,LSG
14,15,Krunal Pandya,3,2,2,6.0,55,29/3,18.33,9.16,12.00,0,0,RCB
15,16,Ravichandran Ashwin,3,3,3,10.0,99,22/1,33.00,9.90,20.00,0,0,CSK
16,17,Zeeshan Ansari,3,1,1,4.0,42,42/3,14.00,10.50,8.00,0,0,SRH
17,18,Tushar Deshpande,3,3,3,9.0,96,44/3,32.00,10.66,18.00,0,0,RR
18,19,Vaibhav Arora,3,2,2,7.0,75,33/2,25.00,10.71,14.00,0,0,KKR
19,20,Ravi Bishnoi,3,2,2,8.0,95,53/2,31.66,11.87,16.00,0,0,LSG
20,21,Moeen Ali,2,1,1,4.0,23,23/2,11.50,5.75,12.00,0,0,KKR
21,22,Liam Livingstone,2,2,2,6.0,42,28/2,21.00,7.00,18.00,0,0,RCB
22,23,Hardik Pandya,2,1,1,4.0,29,29/2,14.50,7.25,12.00,0,0,MI
23,24,Prasidh Krishna,2,2,2,7.0,59,18/2,29.50,8.42,21.00,0,0,GT
24,25,Arshdeep Singh,2,1,1,4.0,36,36/2,18.00,9.00,12.00,0,0,PBKS
25,26,Maheesh Theekshana,2,3,3,12.0,114,52/2,57.00,9.50,36.00,0,0,RR
26,27,Deepak Chahar,2,2,2,6.0,57,18/1,28.50,9.50,18.00,0,0,MI
27,28,Harshit Rana,2,2,2,7.0,68,36/2,34.00,9.71,21.00,0,0,KKR
28,29,M Siddharth,2,1,1,4.0,39,39/2,19.50,9.75,12.00,0,0,LSG
29,30,Kagiso Rabada,2,2,2,8.0,83,41/1,41.50,10.37,24.00,0,0,GT
30,31,Sandeep Sharma,2,3,3,10.0,104,42/1,52.00,10.40,30.00,0,0,RR
31,32,Mohammed Siraj,2,2,2,8.0,88,34/2,44.00,11.00,24.00,0,0,GT
32,33,Mohammad Shami,2,3,3,9.0,101,33/1,50.50,11.22,27.00,0,0,SRH
33,34,Adam Zampa,2,2,2,8.0,94,46/1,47.00,11.75,24.00,0,0,SRH
34,35,Pat Cummins,2,3,3,9.0,116,29/2,58.00,12.88,27.00,0,0,SRH
35,36,Simarjeet Singh,2,2,2,5.0,74,46/2,37.00,14.80,15.00,0,0,SRH
36,37,Bhuvneshwar Kumar,1,1,1,3.0,20,20/1,20.00,6.66,18.00,0,0,RCB
37,38,Sunil Narine,1,1,1,4.0,27,27/1,27.00,6.75,24.00,0,0,KKR
38,39,Will Jacks,1,1,1,4.0,32,32/1,32.00,8.00,24.00,0,0,MI
39,40,Ravindra Jadeja,1,3,3,8.0,68,10/1,68.00,8.50,48.00,0,0,CSK
40,41,Trent Boult,1,2,2,7.0,61,34/1,61.00,8.71,42.00,0,0,MI
41,42,Nathan Ellis,1,1,1,4.0,38,38/1,38.00,9.50,24.00,0,0,CSK
42,43,Prince Yadav,1,2,2,8.0,76,29/1,76.00,9.50,48.00,0,0,LSG
43,44,Mohit Sharma,1,2,2,7.0,67,25/1,67.00,9.57,42.00,0,0,DC
44,45,Rashid Khan,1,2,2,6.0,58,48/1,58.00,9.66,36.00,0,0,GT
45,46,Mukesh Kumar,1,2,2,4.0,39,22/1,39.00,9.75,24.00,0,0,DC
46,47,Suyash Sharma,1,2,2,8.0,79,47/1,79.00,9.87,48.00,0,0,RCB
47,48,Marco Jansen,1,1,1,4.0,44,44/1,44.00,11.00,24.00,0,0,PBKS
48,49,Avesh Khan,1,1,1,4.0,45,45/1,45.00,11.25,24.00,0,0,LSG
49,50,Spencer Johnson,1,2,2,6.2,73,42/1,73.00,11.52,38.00,0,0,KKR
50,51,Rasikh Dar,1,1,1,3.0,35,35/1,35.00,11.66,18.00,0,0,RCB
51,52,Jofra Archer,1,3,3,9.3,122,13/1,122.00,12.84,57.00,0,0,RR
52,53,Glenn Maxwell,1,1,1,2.0,26,26/1,26.00,13.00,12.00,0,0,PBKS
53,54,V Satyanarayana Penmetsa,1,2,2,4.0,53,40/1,53.00,13.25,24.00,0,0,MI
54,55,Mujeeb-ur-Rahman,1,1,1,2.0,28,28/1,28.00,14.00,12.00,0,0,MI
55,56,Vipraj Nigam,1,2,2,4.0,56,35/1,56.00,14.00,24.00,0,0,DC

In [29]:
Split(df24_bat)

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S,TEAM
0,1,Virat Kohli,741,15,15,3,113*,61.75,479,154.69,1,5,62,38,RCB
1,2,Ruturaj Gaikwad,583,14,14,3,108*,53.00,413,141.16,1,4,58,18,CSK
2,3,Riyan Parag,573,16,14,3,84*,52.09,384,149.21,0,4,40,33,RR
3,4,Travis Head,567,15,15,1,102,40.50,296,191.55,1,4,64,32,SRH
4,5,Sanju Samson,531,16,15,4,86,48.27,346,153.46,0,5,48,24,RR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,163,Lizaad Williams,1,2,1,1,1*,-,2,50.00,0,0,0,0,DC
163,164,Keshav Maharaj,1,2,1,0,1,1.00,2,50.00,0,0,0,0,RR
164,165,Manav Suthar,1,1,1,0,1,1.00,2,50.00,0,0,0,0,GT
165,166,Vyshak Vijaykumar,1,4,2,1,1*,1.00,3,33.33,0,0,0,0,RCB
166,167,Ishant Sharma,1,9,2,2,1*,-,7,14.28,0,0,0,0,DC

In [ ]:
Split(df24_bowl)

,POS,PLAYER,WKTS,MAT,INNS,OV,RUNS,BBI,AVG,ECON,SR,4W,5W,TEAM
0,1,Harshal Patel,24,14,14,49.0,477,15/3,19.87,9.73,12.25,0,0,PBKS
1,2,Varun Chakaravarthy,21,15,14,50.0,402,16/3,19.14,8.04,14.28,0,0,KKR
2,3,Jasprit Bumrah,20,13,13,51.5,336,21/5,16.80,6.48,15.55,0,1,MI
3,4,T Natarajan,19,14,14,51.2,465,19/4,24.47,9.05,16.21,1,0,SRH
4,5,Harshit Rana,19,13,11,42.1,383,24/3,20.15,9.08,13.31,0,0,KKR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,101,Shivam Dube,1,14,1,1.0,14,14/1,14.00,14.00,6.00,0,0,CSK
101,102,Washington Sundar,1,2,2,5.0,73,46/1,73.00,14.60,30.00,0,0,SRH
102,103,Kwena Maphaka,1,2,2,6.0,89,23/1,89.00,14.83,36.00,0,0,MI
103,104,Luke Wood,1,2,2,6.0,93,68/1,93.00,15.50,36.00,0,0,MI
104,105,Akash Deep,1,1,1,3.3,55,55/1,55.00,15.71,21.00,0,0,RCB

In [31]:
Split(df23_bat)

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S,TEAM
0,1,Shubman Gill,890,17,17,2,129,59.33,564,157.80,3,4,85,33,GT
1,2,Faf Du Plessis,730,14,14,1,84,56.15,475,153.68,0,8,60,36,RCB
2,3,Devon Conway,672,16,15,2,92*,51.69,481,139.70,0,6,77,18,CSK
3,4,Virat Kohli,639,14,14,2,101*,53.25,457,139.82,2,6,65,16,RCB
4,5,Yashasvi Jaiswal,625,14,14,1,124,48.08,382,163.61,1,5,82,26,RR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,162,Mohammed Siraj,1,14,2,1,1*,1.00,2,50.00,0,0,0,0,RCB
162,163,Yudhvir Singh,1,3,2,0,1,0.50,2,50.00,0,0,0,0,LSG
163,164,Fazalhaq Farooqi,1,4,1,1,1*,-,5,20.00,0,0,0,0,SRH
164,165,Nathan Ellis,1,10,2,0,1,0.50,7,14.28,0,0,0,0,PBKS
165,166,Varun Chakaravarthy,1,14,2,1,1,1.00,9,11.11,0,0,0,0,KKR

In [32]:
Split(df23_bowl)

,POS,PLAYER,WKTS,MAT,INNS,OV,RUNS,BBI,AVG,ECON,SR,4W,5W,TEAM
0,1,Mohammad Shami,28,17,17,65.0,522,11/4,18.64,8.03,13.92,2,0,GT
1,2,Mohit Sharma,27,14,14,44.1,361,10/5,13.37,8.17,9.81,2,1,GT
2,3,Rashid Khan,27,17,17,67.0,552,30/4,20.44,8.23,14.88,1,0,GT
3,4,Piyush Chawla,22,16,16,61.0,495,22/3,22.50,8.11,16.63,0,0,MI
4,5,Yuzvendra Chahal,21,14,14,52.5,432,17/4,20.57,8.17,15.09,3,0,RR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,109,Akash Deep,1,2,2,5.0,59,29/1,59.00,11.80,30.00,0,0,RCB
109,110,Lockie Ferguson,1,3,3,7.4,96,19/1,96.00,12.52,46.00,0,0,KKR
110,111,Duan Jansen,1,1,1,4.0,53,53/1,53.00,13.25,24.00,0,0,MI
111,112,Shahbaz Ahmed,1,10,5,7.0,95,38/1,95.00,13.57,42.00,0,0,RCB
112,113,Kartik Tyagi,1,3,3,6.1,92,30/1,92.00,14.91,37.00,0,0,SRH

In [33]:
Split(df22_bat)

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S,TEAM
0,1,Jos Buttler,863,17,17,2,116,57.53,579,149.05,4,4,83,45,RR
1,2,K L Rahul,616,15,15,3,103*,51.33,455,135.38,2,4,45,30,LSG
2,3,Quinton De Kock,508,15,15,1,140*,36.29,341,148.97,1,3,47,23,LSG
3,4,Hardik Pandya,487,15,15,4,87*,44.27,371,131.26,0,4,49,12,GT
4,5,Shubman Gill,483,16,16,2,96,34.50,365,132.32,0,4,51,11,GT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,158,Fazalhaq Farooqi,2,3,1,1,2*,-,8,25.00,0,0,0,0,SRH
158,159,Jagadeesha Suchith,2,5,2,0,2,1.00,8,25.00,0,0,0,0,SRH
159,160,Tim Southee,2,9,5,1,1*,0.50,12,16.66,0,0,0,0,KKR
160,161,Nathan Coulter-Nile,1,1,1,1,1*,-,2,50.00,0,0,0,0,RR
161,162,Anrich Nortje,1,6,1,1,1*,-,6,16.66,0,0,0,0,DC

In [34]:
Split(df22_bowl)

,POS,PLAYER,WKTS,MAT,INNS,OV,RUNS,BBI,AVG,ECON,SR,4W,5W,TEAM
0,1,Yuzvendra Chahal,27,17,17,68.0,527,40/5,19.51,7.75,15.11,1,1,RR
1,2,Wanindu Hasaranga,26,16,16,57.0,430,18/5,16.53,7.54,13.15,1,1,RCB
2,3,Kagiso Rabada,23,13,13,48.0,406,33/4,17.65,8.45,12.52,2,0,PBKS
3,4,Umran Malik,22,14,14,49.1,444,25/5,20.18,9.03,13.40,1,1,SRH
4,5,Kuldeep Yadav,21,14,14,49.4,419,14/4,19.95,8.43,14.19,2,0,DC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99,Shreyas Gopal,1,1,1,3.0,34,34/1,34.00,11.33,18.00,0,0,SRH
99,100,Fabian Allen,1,1,1,4.0,46,46/1,46.00,11.50,24.00,0,0,MI
100,101,Sean Abbott,1,1,1,4.0,47,47/1,47.00,11.75,24.00,0,0,SRH
101,102,Riyan Parag,1,17,4,4.0,59,12/1,59.00,14.75,24.00,0,0,RR
102,103,Dewald Brevis,1,7,1,0.3,8,8/1,8.00,16.00,3.00,0,0,MI

In [35]:
Split(df21_bat)

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S,TEAM
0,1,Ruturaj Gaikwad,635,16,16,2,101*,45.35,466,136.26,1,4,64,23,CSK
1,2,Faf du Plessis,633,16,16,2,95*,45.21,458,138.20,0,6,60,23,CSK
2,3,KL Rahul,626,13,13,3,98*,62.60,451,138.80,0,6,48,30,PBKS
3,4,Shikhar Dhawan,587,16,16,1,92,39.13,471,124.62,0,3,63,16,DC
4,5,Glenn Maxwell,513,15,14,2,78,42.75,356,144.10,0,6,48,21,RCB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,145,Anuj Rawat,0,2,1,0,0*,0.00,1,0.00,0,0,0,0,RR
145,146,Marco Jansen,0,2,2,0,0*,0.00,3,0.00,0,0,0,0,MI
146,147,Sarfaraz Khan,0,2,2,0,0*,0.00,4,0.00,0,0,0,0,PBKS
147,148,Jimmy Neesham,0,3,2,0,0*,0.00,2,0.00,0,0,0,0,MI
148,149,Prasidh Krishna,0,10,2,1,0*,0.00,1,0.00,0,0,0,0,KKR

In [36]:
Split(df21_bowl)

,POS,PLAYER,WKTS,MAT,INNS,OV,RUNS,BBI,AVG,ECON,SR,4W,5W,TEAM
0,1,Harshal Patel,32,15,15,56,459,5/27,14.34,8.14,10.56,1,1,RCB
1,2,Avesh Khan,24,16,16,61,450,3/13,18.75,7.37,15.25,0,0,DC
2,3,Jasprit Bumrah,21,14,14,55,410,4/14,19.52,7.45,15.71,0,0,MI
3,4,Shardul Thakur,21,16,16,60,527,3/19,25.09,8.80,17.09,0,0,CSK
4,5,Mohammad Shami,19,14,14,52,395,3/15,20.78,7.50,16.63,0,0,PBKS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,Lukman Meriwala,1,1,1,3,32,1/32,32.00,10.66,18.00,0,0,DC
85,86,Mahipal Lomror,1,4,4,7,47,1/22,47.00,6.71,42.00,0,0,RR
86,87,Riyan Parag,1,11,6,6,73,1/10,73.00,11.83,37.00,0,0,RR
87,88,Murugan Ashwin,1,3,3,11,97,3/21,97.00,8.81,66.00,0,0,PBKS
88,89,Nathan Ellis,1,3,3,12,98,1/20,98.00,8.16,72.00,0,0,PBKS

change runs in batting to runs_scored and runs in bowling to runs_conceded,