In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [8]:
pd.set_option('display.max_columns',500)
pd.set_option('display.width',500)
pd.set_option('display.max_rows', 500)

In [9]:
train = pd.read_csv('train_wn75k28.csv', parse_dates=['created_at','signup_date'])
train

          id created_at  campaign_var_1  campaign_var_2  products_purchased signup_date  user_activity_var_1  user_activity_var_2  user_activity_var_3  user_activity_var_4  user_activity_var_5  user_activity_var_6  user_activity_var_7  user_activity_var_8  user_activity_var_9  user_activity_var_10  user_activity_var_11  user_activity_var_12  buy
0          1 2021-01-01               1               2                 2.0  2020-09-24                    0                    0                    0                    0                    0                    0                    1                    1                    0                     0                     0                     0    0
1          2 2021-01-01               2               1                 2.0  2020-09-19                    1                    0                    1                    0                    0                    0                    1                    0                    0                     0                     0                     0    0
2          3 2021-01-01               9               3                 3.0  2021-08-11                    1                    0                    0                    0                    0                    0                    0                    0                    0                     0                     0                     0    0
3          4 2021-01-01               6               7                 2.0  2017-10-04                    0                    0                    0                    0                    0                    0                    0                    0                    0                     0                     0                     0    0
4          5 2021-01-01               4               6                 NaN  2020-06-08                    0                    0                    0                    0                    0                    0                    1                    0                    0                     0                     1                     0    0
...      ...        ...             ...             ...                 ...         ...                  ...                  ...                  ...                  ...                  ...                  ...                  ...                  ...                  ...                   ...                   ...                   ...  ...
39156  39157 2021-12-31              11              11                 2.0  2017-10-19                    1                    0                    0                    0                    1                    1                    1                    0                    0                     0                     0                     0    0
39157  39158 2021-12-31               3               9                 3.0         NaT                    0                    0                    0                    0                    0                    0                    0                    0                    0                     0                     0                     0    0
39158  39159 2021-12-31               8               7                 2.0         NaT                    1                    0                    0                    0                    1                    0                    1                    0                    0                     0                     0                     0    0
39159  39160 2021-12-31               7              12                 2.0         NaT                    0                    0                    0                    0                    0                    1                    0                    0                    0                     0                     1                     0    0
39160  39161 2021-12-31               2               5                 NaN  2019-08-11                    1                    0                    0                    0                    0                    0                    1                    0                    0                     0                     0                     0    0

[39161 rows x 19 columns]

In [10]:
test = pd.read_csv('test_Wf7sxXF.csv', parse_dates=['created_at','signup_date'])
test

          id created_at  campaign_var_1  campaign_var_2  products_purchased signup_date  user_activity_var_1  user_activity_var_2  user_activity_var_3  user_activity_var_4  user_activity_var_5  user_activity_var_6  user_activity_var_7  user_activity_var_8  user_activity_var_9  user_activity_var_10  user_activity_var_11  user_activity_var_12
0      39162 2022-01-01               2               2                 NaN  2021-08-17                    1                    1                    0                    0                    0                    1                    0                    0                    0                     0                     1                     0
1      39163 2022-01-01               4               7                 3.0  2020-05-21                    1                    0                    0                    0                    0                    0                    0                    1                    0                     0                     0                     0
2      39164 2022-01-01               8               7                 NaN         NaT                    0                    0                    0                    0                    1                    1                    0                    0                    0                     0                     0                     0
3      39165 2022-01-01               9               8                 2.0  2020-06-22                    0                    0                    0                    0                    1                    1                    1                    0                    0                     0                     2                     0
4      39166 2022-01-01               4               5                 2.0  2021-03-10                    1                    0                    0                    0                    0                    0                    0                    0                    0                     0                     0                     0
...      ...        ...             ...             ...                 ...         ...                  ...                  ...                  ...                  ...                  ...                  ...                  ...                  ...                  ...                   ...                   ...                   ...
13179  52341 2022-03-30              16              12                 NaN         NaT                    0                    0                    0                    0                    0                    1                    1                    0                    0                     0                     0                     0
13180  52342 2022-03-30              12               8                 NaN  2022-03-19                    1                    0                    0                    0                    0                    1                    0                    0                    0                     0                     0                     0
13181  52343 2022-03-30              14              14                 3.0  2021-08-15                    0                    0                    1                    0                    0                    0                    1                    0                    0                     0                     0                     0
13182  52344 2022-03-30              14              10                 NaN         NaT                    0                    0                    0                    0                    0                    0                    1                    0                    0                     0                     1                     0
13183  52345 2022-03-30              13              13                 NaN         NaT                    0                    0                    0                    0                    0                    1                    1                    1                    0                     0                     1                     0

[13184 rows x 18 columns]

In [11]:
sample = pd.read_csv('sample_submission_2zvVjBu.csv')
sample

          id  buy
0      39162    1
1      39163    1
2      39164    1
3      39165    1
4      39166    1
...      ...  ...
13179  52341    1
13180  52342    1
13181  52343    1
13182  52344    1
13183  52345    1

[13184 rows x 2 columns]

In [12]:
def details(df):
    sum_null_values = df.isnull().sum()
    percent_null_values = 100* (sum_null_values/len(df))
    data_type = df.dtypes
    unique_values = df.nunique()

    table = pd.concat([sum_null_values,percent_null_values,data_type,unique_values], axis=1)
    table_col = table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Missing Values', 2 : 'Data_Type', 3: 'Unique values'})
    return table_col

In [13]:
details(train)

                      Missing Values  % of Total Missing Values       Data_Type  Unique values
id                                 0                   0.000000           int64          39161
created_at                         0                   0.000000  datetime64[ns]            365
campaign_var_1                     0                   0.000000           int64             16
campaign_var_2                     0                   0.000000           int64             15
products_purchased             20911                  53.397513         float64              4
signup_date                    15113                  38.591966  datetime64[ns]           1800
user_activity_var_1                0                   0.000000           int64              4
user_activity_var_2                0                   0.000000           int64              2
user_activity_var_3                0                   0.000000           int64              2
user_activity_var_4                0                   0.000000           int64              2
user_activity_var_5                0                   0.000000           int64              3
user_activity_var_6                0                   0.000000           int64              4
user_activity_var_7                0                   0.000000           int64              3
user_activity_var_8                0                   0.000000           int64              3
user_activity_var_9                0                   0.000000           int64              2
user_activity_var_10               0                   0.000000           int64              2
user_activity_var_11               0                   0.000000           int64              5
user_activity_var_12               0                   0.000000           int64              2
buy                                0                   0.000000           int64              2

In [14]:
col_cat = [i for i in train.columns if train[i].dtype == object]
col_cat

[]

In [23]:
col_num = [i for i in train.columns if train[i].dtype != object]
col_num

['id',
 'created_at',
 'campaign_var_1',
 'campaign_var_2',
 'products_purchased',
 'signup_date',
 'user_activity_var_1',
 'user_activity_var_2',
 'user_activity_var_3',
 'user_activity_var_4',
 'user_activity_var_5',
 'user_activity_var_6',
 'user_activity_var_7',
 'user_activity_var_8',
 'user_activity_var_9',
 'user_activity_var_10',
 'user_activity_var_11',
 'user_activity_var_12',
 'buy']

In [24]:
col_num.remove('id')
col_num.remove('created_at')
col_num.remove('signup_date')
col_num.remove('buy')

In [25]:
col_num

['campaign_var_1',
 'campaign_var_2',
 'products_purchased',
 'user_activity_var_1',
 'user_activity_var_2',
 'user_activity_var_3',
 'user_activity_var_4',
 'user_activity_var_5',
 'user_activity_var_6',
 'user_activity_var_7',
 'user_activity_var_8',
 'user_activity_var_9',
 'user_activity_var_10',
 'user_activity_var_11',
 'user_activity_var_12']